@charset "UTF-8";

*{
    font-family: sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to bottom, #027373, #038C7F);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.397);
    width: 600px;
    padding: 10px;
    margin: auto;
    max-width: 500px;
}

h1{
    color: #3e8578;
    text-align: center;
}

h2{
    color: #46b3a8;
}

p{
    text-align: justify;
}